body {
	/* Vars */
	--bg:                   #202020;
	--bg-code:              #272727;
	--fg:                   #CFD2D5;
	--faint:                #8A8A8A;
	--red:                  #ff5b56;
	--green:                #8EA765;
	--blue:                 #fff;
	--orange:               #CC7832;
	--yellow:               #FFC66D;
	--purple:               #a782bb;
	--pref-font:                'Source Code Pro';
	--pref-font-size1:                 10px;
	--pref-font-size2:                 12px;
	--pref-font-size3:                 16px;
	--pref-font-size4:                 20px;

	/* Obsidian Properties */
	--text-normal:                var(--fg);
    --text-faint:                 var(--faint);
    --text-accent:                var(--green); /* links and... */
    --text-accent-hover:      	  var(--green); /* links and... */
	--font-default:               var(--pref-font), monospace;
	--font-smallest:              var(--pref-font-size1);
	--font-smaller:               var(--pref-font-size2);
	--font-small:                 var(--pref-font-size3);
  	--font-ui-smaller:            var(--pref-font-size1);
  	--font-ui-small:              var(--pref-font-size2);
  	--font-ui-medium:             var(--pref-font-size3);
  	--font-ui-large:              var(--pref-font-size4);
  	--code-comment:               var(--faint);
  	--code-white-space:           pre-wrap;
  	--code-size:  				  var(--font-smaller);
  	--code-background:            var(--bg-code); /* make slightly lighter than bg */
  	/* need to match darcula solid on these */
  	--code-normal: var(--yellow);
	--code-comment: var(--faint);
	--code-function: var(--fg);
	--code-important: var(--orange);
	--code-keyword: var(--orange);
	--code-operator: var(--fg);
	--code-property: var(--purple);
	--code-punctuation: var(--fg);
	--code-string: var(--green);
	--code-string: var(--green);
	--code-tag: var(--red);
	--code-value: var(--purple);
}

.theme-dark {
	--background-primary:         var(--bg);
    --background-secondary:       var(--bg);
}

.theme-light {
	--background-primary:           #ECE4FF;
  	--background-secondary:         #D9C9FF;
}
